<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.cue.app">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".util.CueApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.NFCDetectedActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.TooSoonActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/uk.co.danieltonks.nfc" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="idk-cue.club"
                    android:scheme="https" />
                <data
                    android:host="idk-cue.club"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ReserveTableActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppThemeActionBar"
            android:windowSoftInputMode="adjustResize">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.loginFlow.LoginChooserActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.loginFlow.LoginActivity"
            android:parentActivityName=".activity.loginFlow.LoginChooserActivity"
            android:theme="@style/AppThemeActionBar"
            android:windowSoftInputMode="adjustResize">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.loginFlow.LoginChooserActivity" />
        </activity>

        <service android:name=".services.CueAlertService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.CueMessageHandler">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activity.loginFlow.RegisterActivity"
            android:parentActivityName=".activity.loginFlow.LoginChooserActivity"
            android:theme="@style/AppThemeActionBar"
            android:windowSoftInputMode="adjustResize">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.loginFlow.LoginChooserActivity" />
        </activity>
        <activity
            android:name=".activity.SetupTagActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppThemeActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity android:name=".activity.WriteTagActivity" />
        <activity
            android:name=".activity.VenueDetails"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppThemeActionBar"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAycxcUFA26psu02q-UVWfJYRcyKv_SHhY" />

        <activity
            android:name=".activity.LocalVenuesActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppThemeActionBar"></activity>
    </application>

</manifest>